.card {
    font-family:"Comic Sans MS";
    margin: 120px;
    padding: 20px;
    border: 1px solid #FFF;
    background: #ffd;
    border-radius: 2px;    
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 20px rgba(0,0,0,0.24);    
}

.card p {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
  margin: 7px 177px 7px 7px;
}

.card div::first-letter{
    font-size: 20px;
    font-weight: bold;
}

.card1 {
    font-family:"Comic Sans MS";
    margin: 10px;
    padding: 20px;
    border: 1px solid #FFF;
    background: #ffe;
    border-radius: 2px;    
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24);    
}

.card1 p {
    font-size: 26px;
    font-weight: bold;  
    text-align: left;
}

.card1 div::first-letter{
    font-size: 20px;
    font-weight: bold;
}



.hoverleft figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
   float:left; /* Вирівнювання по лівому краю */
   margin: 7px 7px 7px 0; /* Відступи навколо картинки */
   width:450px;
  height:350px;
}
.hoverleft figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hoverright figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  float: right; /* Вирівнювання по правому краю  */ 
    margin: 7px 0 7px 7px; /* Відступи навколо картинки */
	width:450px;
  height:350px;
}
.hoverright figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
html, body {
  background: #F7F5E6;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: absolute;
}

.slide_viewer {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: url("../img/italy/imgMain2.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(2) {
  background: url("../img/italy/img1.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(3) {
  background: url("../img/italy/img2.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(4) {
  background: url("../img/italy/img3.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(5) {
  background: url("../img/italy/img4.jpg") no-repeat center top / cover;
}
.slide:nth-of-type(6) {
  background: url("../img/italy/img5.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(7) {
  background: url("../img/italy/img6.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(8) {
  background: url("../img/italy/img7.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(9) {
  background: url("../img/italy/img8.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(10) {
  background: url("../img/italy/img9.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(11) {
  background: url("../img/italy/img10.jpg") no-repeat center top / cover;
}

.slide:nth-of-type(12) {
  background: url("../img/italy/img11.jpg") no-repeat center top / cover;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 34px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}